<p-toolbar>
  <div>
    <p-button (onClick)="home()" icon="pi pi-home" label="home"></p-button>
    <p-button (onClick)="start()" icon="pi pi-caret-right" label="play"></p-button>
    <p-button (onClick)="about()" icon="pi pi-info-circle" label="about"></p-button>
    <p-button (onClick)="showScores()" icon="pi pi-trophy" label="scores"></p-button>
    <p-button (onClick)="showFeedback()" icon="pi pi-envelope" label="feedback"></p-button>
  </div>
  <div>
    <b style="font-size: x-large;">Irmpier</b>
  </div>
  <div>
    <div>
      <div class="place score raisin"></div>{{numberOfRaisinsEaten}}
    </div>
  </div>
</p-toolbar>
<p></p>
<div class="board">
  <div *ngFor="let place of styles; let i = index" class="place" [ngClass]="place"></div>
</div>
<app-dialog
  (close)="closeDialog()"
  (feedback)="feedback($event)"
  (play)="start()"
  (highscore)="saveHighscore($event)"
  [numberOfRaisinsEaten]="numberOfRaisinsEaten"
  [scores]="scores"
  [dialog]="dialog"
></app-dialog>